body {
background-color: aqua;
text-align: center;
}

#contact-me{
    background-color: darkmagenta;
    color: aliceblue;
}

li {
    display: inline;
}

a {
    color: aliceblue;
}
